* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/library.JPG"); 
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.login-container {
    padding: 45px 55px;
    width: 40vh;
    height: 45vh;
    background-color: rgb(20, 36, 25);
    border-radius: 15px;
    border: 1px solid #ccc;
}


.login-heading {
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

input {
    padding: 8px;
    width: 100%;
    font-size: 18px;
    border-radius: 7px;
}

input:focus {
  outline: none;
  border: px solid black;
}

.input-text {
    margin-bottom: 20px;
}

.checkbox-label {
    display: inline-flex;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

button {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px 15vh;
    font-size: 18px;
    border-radius: 15px;
    background-color: #234129;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

a {
    margin-left: 3vh;
    color: green;
}


footer {
    position: absolute;
    bottom: 25px;
    color: white;
    font-size: 20px;
}